<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/carousel.css') }}">
    
    
    
</head>
<body style="margin: 0em">
    <script src="{{ url_for('static', filename='/javascript/carousel.js') }}"></script>




    <!-- Carousel -->
    <div class="c-container">
        <div class="c" id="carousel">
          <div class="c-item">
            <img src="{{ url_for('static', filename='assets/images/p1.jpg')}}" alt="Picture 1">
            <div class="c-caption">Caption for picture 1</div>
          </div>
          <div class="c-item">
            <img src="{{ url_for('static', filename='assets/images/p2.jpg')}}" alt="Picture 2">
            <div class="c-caption">Caption for picture 2</div>
          </div>
          <div class="c-item">
            <img src="{{ url_for('static', filename='assets/images/p1.jpg')}}" alt="Picture 3">
            <div class="c-caption">Caption for picture 3</div>
          </div>
        </div>
        <a class="prev" id="prevSlide"><img src="{{ url_for('static', filename='assets/Icons/arrow_left.png')}}"></a>
        <a class="next" id="nextSlide"><img src="{{ url_for('static', filename='assets/Icons/arrow_right.png')}}"></a>
      </div>




</body>
</html>
