<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/navigationbar.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/carousel.css') }}">
    <style>
        :root {
            --background-image-1: url('{{ url_for('static', filename='assets/images/totoro_banner.jpg') }}');
            --background-image-2: url('{{ url_for('static', filename='assets/images/studio_ghibli_banner.png') }}');
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/profile.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/animations.css')}}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/artwork.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/contact.css')}}">
    
    
</head>
<body style="margin: 0em">
    
    <!-- Navigation Bar (Mounted On Top) -->
    <nav class="navbar" id="navbar">
        <!-- Navbar Brand -->
        <a class="navbar-brand" href="#Top-Page">Claire Hanel</a>
        <!-- Navbar Group (Links & Toggler) -->
        <div class="nav-group">
            <!-- Navbar links -->
            <ul class="nav-items" id="nav-items">
                <li class="nav-item"><a class="nav-link" href="#About-Me">About Me</a></li>
                <li class="nav-item"><a class="nav-link" href="#Artwork">Artwork</a></li>
                <li class="nav-item"><a class="nav-link" href="#Animations">Animations</a></li>
                <li class="nav-item"><a class="nav-link" href="#Contact">Contact</a></li>
            </ul>
            <!-- Navbar Toggler -->
            <div class="navbar-toggler" id="navbar-toggler">
                <img src="{{ url_for('static', filename='assets/Icons/paint_brush.png')}}" class="toggler-img" alt="Toggler Icon" id="toggler-img">
            </div>
        </div>
    </nav>

    <!-- Carousel Section -->
    <div id="Top-Page" class="carousel-container">
        <!-- Carousel -->
        <div class="carousel" id="carousel">
            <!-- Carousel Slides -->
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='assets/images/Orange_Juice.jpg')}}" alt="Orange Juice">
                <div class="carousel-caption">Stay Hydrated Kids</div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='assets/images/October_poster.jpg')}}" alt="October Poster">
                <div class="carousel-caption">Nightmare Fuel</div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='assets/images/Spaceman.jpg')}}" alt="Spaceman">
                <div class="carousel-caption">My Spaceman</div>
            </div>
        </div>

        <!-- Carousel Buttons -->
        <a class="prev" id="prevSlide"><img src="{{ url_for('static', filename='assets/Icons/arrow_left.png')}}"></a>
        <a class="next" id="nextSlide"><img src="{{ url_for('static', filename='assets/Icons/arrow_right.png')}}"></a>
    </div>

    <!-- Profile Section -->
    <div id="About-Me" class="profile">
      <div class="container-profile">
          <div class="profile-content">
              <img src="{{ url_for('static', filename='assets/images/ClairePortrait.png')}}" alt="Portrait of Claire" class="profile-image">
              <div class="about-me">
                  <h1 class="h1-profile">About Me</h1>
                  <!-- Blurb about Claire -->
                  <p class="profile-description">Hiya, my name is Claire Hanel. I'm a 2D illustrator and animator currently residing in Milwaukee Wisconsin. I graduated from UW-Milwaukee a BA in Animation.</p>
              </div>
          </div>
      </div>
    </div>

    <!-- Artwork Section -->
    <div id="Artwork" class="artwork">
        <div class="container-artwork">
            <div class="artwork-description">
                <h1 class="h1-artwork">My Artwork</h1>
                <p class="paragraph-artwork">These are my artworks. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque ac justo malesuada
                    luctus. Nullam eleifend, justo at viverra tristique, dui sapien volutpat nisi, et volutpat libero justo a nisl.</p>
            </div>
            <div class="artwork-images">
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/Sting_Wrays.jpg')}}" alt="Sting Wrays" class="artwork-image">
                    </a>
                </div>
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/Kitchen.jpg')}}" alt="Kitchen Picture" class="artwork-image">
                    </a>
                </div>
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/Home_garden.jpg')}}" alt="Home Garden" class="artwork-image">
                    </a>
                </div>
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/Parked_car.jpg')}}" alt="Parked Car" class="artwork-image">
                    </a>
                </div>
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/Untitled_Artwork.jpg')}}" alt="Untitled Artwork" class="artwork-image">
                    </a>
                </div>
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/Turtle_Water.jpg')}}" alt="Turtle Water" class="artwork-image">
                    </a>
                </div>
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/Home_window.jpg')}}" alt="Home Window" class="artwork-image">
                    </a>
                </div>
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/black_white_1.jpg')}}" alt="Black and White 1" class="artwork-image">
                    </a>
                </div>
                <div class="artwork-img-container">
                    <a href="javascript:void(0);">
                        <img src="{{ url_for('static', filename='assets/images/black_white_2.jpg')}}" alt="Black and White 2" class="artwork-image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal/Lightbox For Artwork Images -->
    <div id="imageModal" class="modal">
        <div class="numberText"></div>
        <span class="close">&times;</span>
        <!-- Modal Buttons -->
        <a class="prevSlide" onclick="prevImage()"><img src="{{ url_for('static', filename='assets/Icons/modal_left_arrow.png')}}"></a>
        <a class="nextSlide" onclick="nextImage()"><img src="{{ url_for('static', filename='assets/Icons/modal_right_arrow.png')}}"></a>
        <div class="modal-content-wrapper">
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
    </div>

    <!-- Animations Section -->
    <div id="Animations" class="animations">
        <h1 class="h1-animations">My Animations</h1>
        <p class="animation-summary">My art style is whimsical and fun!</p>
        <div class="animation-images">
            <div class="animation-img-container">
                <a href="https://www.youtube.com/watch?v=ZHKqhQ683sc" target="_blank" rel="noreferrer">
                    <img src="{{ url_for('static', filename='assets/images/Medairorsquin.png')}}" alt="Medairorsquin" class="animation-image">
                </a>
                <div class="animations-captions">
                    Medairorsuin
                </div>
                <div class="animations-text-box">
                    An experimental, out-of-body journey through my dreamscape in different mediums
                </div>
            </div>
            <div class="animation-img-container">
                <a href="https://www.youtube.com/watch?v=IqDNRoHyH7w" target="_blank" rel="noreferrer">
                    <img src="{{ url_for('static', filename='assets/images/Excessive.png')}}" alt="Excessive" class="animation-image">
                </a>
                <div class="animations-captions">
                    Excessive
                </div>
                <div class="animations-text-box">
                    A crazy dream I had about excessive armpit hair growth
                </div>
            </div>
            <div class="animation-img-container">
                <a href="https://www.youtube.com/watch?v=p_vZVlSor2g" target="_blank" rel="noreferrer">
                    <img src="{{ url_for('static', filename='assets/images/Priscilla.png')}}" alt="Priscilla" class="animation-image">
                </a>
                <div class="animations-captions">
                    Priscilla
                </div>
                <div class="animations-text-box">
                    The daily activities of my old roommate's pet hedgehog and her favorite toilet paper tube
                </div>
            </div>
            <div class="animation-img-container">
                <a href="https://www.youtube.com/watch?v=A456aanx6bc" target="_blank" rel="noreferrer">
                    <img src="{{ url_for('static', filename='assets/images/Wheres_my_ear.png')}}" alt="Where's my ear?" class="animation-image">
                </a>
                <div class="animations-captions">
                    Where's my ear?
                </div>
                <div class="animations-text-box">
                    A monkey that bites off more than he can chew
                </div>
            </div>
            <div class="animation-img-container">
                <a href="https://www.youtube.com/watch?v=342euM7TXXI" target="_blank" rel="noreferrer">
                    <img src="{{ url_for('static', filename='assets/images/Metamorph.png')}}" alt="Metamorph" class="animation-image">
                </a>
                <div class="animations-captions">
                    Metamorph
                </div>
                <div class="animations-text-box">
                    Clay morphing into different things
                </div>
            </div>
            <div class="animation-img-container">
                <a href="https://www.youtube.com/watch?v=dt-RwekHDxI" target="_blank" rel="noreferrer">
                    <img src="{{ url_for('static', filename='assets/images/My_Name.png')}}" alt="My Name" class="animation-image">
                </a>
                <div class="animations-captions">
                    My Name
                </div>
                <div class="animations-text-box">
                    A little old lady spells out my name through knitting
                </div>
            </div>
            <div class="animation-img-container">
                <a href="https://www.youtube.com/watch?v=k6NlVHEJPtc" target="_blank" rel="noreferrer">
                    <img src="{{ url_for('static', filename='assets/images/Quinoa.png')}}" alt="Quinoa" class="animation-image">
                </a>
                <div class="animations-captions">
                    Quinoa
                </div>
                <div class="animations-text-box">
                    A hungry monster
                </div>
            </div>
            <div class="animation-img-container">
                <a href="https://www.youtube.com/watch?v=r8E-ulJIlOU" target="_blank" rel="noreferrer">
                    <img src="{{ url_for('static', filename='assets/images/Rough_Morning.png')}}" alt="Rough Morning" class="animation-image">
                </a>
                <div class="animations-captions">
                    Rough Morning
                </div>
                <div class="animations-text-box">
                    A woman having a bad hair day before leaving for work
                </div>
            </div>
          </div>
    </div>

    <!-- Contact Section -->
    <div id="Contact" class="container-contact">
        <div class="left-column">
            <img src="{{ url_for('static', filename='assets/images/claire_pic.jpg')}}" alt="Picutre of claire" class="img-contact">
        </div>
        <div class="right-column">
            <form id="contactForm" class="contact-form">
                <div class="header-section">
                    <h1 class="header" style="text-align: center;">Contact Me</h1>
                    <p>Feel free to contact me by filling out the form below! Or reach out using my email [email here].</p>
                </div>
                <div class="input-group">
                    <div class="allPopup" id="allPopup"></div>
                    <input type="text" id="name" name="name" placeholder="Your name">
                    <div class="popup" id="namePopup"></div>
                </div>
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="Enter your email">
                    <div class="popup" id="emailPopup"></div>
                </div>
                <div class="message-input-group">
                    <textarea id="message" name="message" rows="4" placeholder="Message"></textarea>
                    <div class="popup" id="messagePopup"></div>
                </div>
                <div class="submit-wrapper">
                    <button type="submit" id="submit">Submit</button>
                    <div class="confirmationPopup" id="confirmationPopup"></div>
                </div>
            </form>
        </div>
    </div>
    

    
    <script src="{{ url_for('static', filename='/javascript/navigationbar.js') }}"></script>
    <script src="{{ url_for('static', filename='/javascript/carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='/javascript/artwork.js') }}"></script>
    <script src="{{ url_for('static', filename='/javascript/contact.js') }}"></script>
</body>
</html>
