.animations {
    font-family: Arial, sans-serif;
    background-color: #36454F;
    color: white;
    padding-top: 6%;
    height: 100%;
    max-width: 100%;
}

.h1-animations {
    font-size: 75px;
    text-align: center;
    margin: 0 0; /* Play with */
}

.animation-images {
    display: flex;
    padding: 1%; /* Add padding for spacing */
    flex-wrap: wrap; /* Wrap images to the next line if they don't fit horizontally */
    justify-content: space-between; /* Distribute images evenly on the line */
}

.animation-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 1%;
    width: 25%; /* Adjust based on padding */
    box-sizing: border-box;
    text-align: center; /* Center text */
    margin: 0 auto; /* Center the container itself if needed */
}

.animation-image {
    width: 90%; /* Adjust width to be fully responsive within the container */
    height: 90%; /* was auto */
    max-height: 250px; /* Or any other value */
    margin-bottom: 5%; /* Space between image and caption */
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.animations-captions, .animations-text-box {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.animations-captions {
    margin: 1% 0;
    font-size: 30px;
    font-style: italic;
}

.animations-text-box {
    font-size: 15px;
}

/* Min-Width: 1024px */
@media (min-width: 1024px) {
    /* Animations for animation images */
    .animation-image {
        transition: transform 0.75s;
    }
    
    .animation-image:hover {
        transform: scale(1.1); /* Enlarge the image on hover */
    }
}

/* Larger screen */
@media (max-width: 1024px) {
    .animations {
        max-height: none;
        padding-top: 6.5%; /* From 6% */
    }

    .h1-animations {
        font-size: 65px;
    }

    .animations-captions {
        font-size: 24px;
    }
    
    .animations-text-box {
        font-size: 13px;
    }
}

/* Tablet and smaller devices (<=768px) */
@media (max-width: 768px) {
    .animations {
        padding-top: 9.5%; /* From 6.5% */
        max-height: none;
    }

    .h1-animations {
        font-size: 50px;
    }

    .animation-img-container {
        width: 50%; /* 100% of the container width for smaller screens */
    }

    .animations-captions {
        font-size: 23px;
    }
    
    .animations-text-box {
        font-size: 12px;
    }
}

/* Smartphone and smaller devices (<=480px) */
@media (max-width: 480px) {
    .animations {
        padding-top: 11%; /* From 9.5% */
        max-height: none;
    }
    
    .h1-animations {
        font-size: 40px; /* Smaller font size for very small screens */
    }

    .animations-captions {
        font-size: 16px;
    }
    
    .animations-text-box {
        font-size: 11px;
    }
}
