.animations {
    font-family: Arial, sans-serif;
    background-color: #36454F;
    color: white;
    padding-top: 5%;
    height: 100%;
    max-height: 100vh;
    max-width: 100%;
}

.h1-animations {
    font-size: 75px;
    text-align: center;
    margin: 0 0; /* Play with */
}

.animation-summary {
    text-align: center;
}


/* Style for arranging images in 2 rows */
.animations-image-row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}

.animation-images {
    display: flex;
    padding: 1%; /* Add padding for spacing */
    flex-wrap: wrap; /* Wrap images to the next line if they don't fit horizontally */
    justify-content: space-between; /* Distribute images evenly on the line */
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 1%;
    width: 25%; /* Adjust based on padding */
    box-sizing: border-box;
    text-align: center; /* Center text */
    margin: 0 auto; /* Center the container itself if needed */
}

.animation-image {
    width: 90%; /* Adjust width to be fully responsive within the container */
    height: auto;
    max-height: 200px; /* Or any other value */
    margin-bottom: 5%; /* Space between image and caption */
    transition: transform 0.75s;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.animation-image:hover {
    transform: scale(1.2); /* Enlarge the image on hover */
}


.animations-captions, .animations-text-box {
    font-family: Arial, sans-serif;
    color: #FFFFFF;


    text-align: center;
    width: 100%;
}

.animations-captions {
    margin: 5px 0;
    font-size: 30px;
    font-style: italic;
}

/* Style the text boxes */
.animations-text-box {
    font-size: 15px;
    margin-bottom: 10px;
}

/* Larger screen */
@media (max-width: 1024px) {
    .animations {
        max-height: none;
    }

    .animations-image-row {
        flex-wrap: nowrap;
    }
}

/* Tablet and smaller devices (<=768px) */
@media (max-width: 768px) {
    .animations {
        max-height: none;
    }

    .img-container {
        width: 50%; /* 100% of the container width for smaller screens */
    }
}

/* Smartphone and smaller devices (<=480px) */
@media (max-width: 480px) {
    .animations {
        max-height: none;
    }
    
    .h1-animations {
        font-size: 50px; /* Smaller font size for very small screens */
    }
}
