/* Artwork Class (contains container-artwork) */
.artwork {
    padding: 0em;
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Container-Artwork Class (contains artwork-header1 & artwork-images) */
.container-artwork {
    padding-top: 4.5%;
    padding-bottom: 5%;
    background-color: #A7C7E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Artwork-Header1 Class (inside container-artwork) */
.artwork-header1 {
    text-align: center;
    font-size: 75px;
    margin: 0 0;
}

/* Artwork-Images Class (contains artwork-img-container) */
.artwork-images {
    width: auto; /* Adjusted to manage the overall width of the image section */
    max-width: 70%;
    column-width: 300px;
    column-gap: 1em;
    display: block; /* Change to block display for column-width to work */
    padding-top: 1.5%;
}

/* Artwork-Img-Container Class (contains artwork-image) */
.artwork-img-container {
    margin-bottom: 1em;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    width: 100%; /* Reset the width to default to avoid overflow */
}

/* Artwork-Image Class (inside artwork-img-container) */
.artwork-image {
    width: 100%; /* Full width of the column */
    height: auto;
    display: block;
    border: 1px solid black; /* MAY REMOVE LATER!!!! */
}

/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1030; /* Sit on top of everything else on the page */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

/* Modal Wrapper */
.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    padding-top: 5px;
    margin-top: 1%;
    max-height: 100vh;
}
  
/* Modal Content (image) */
.modal-content {
    width: auto;
    max-width: 90vw;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    transition: opacity 0.5s ease-out;
}

/* Style for animating the current image out/in */
.modal-fade-out {
    opacity: 0;
}
.modal-fade-in {
    opacity: 1;
}

/* Caption of Modal Image */
.modal-caption {
    text-align: center;
    color: #dbdbdb;
    max-width: 70%;
    padding-top: 5px;
    transition: opacity 0.5s ease-out;
}

/* Style for animating the current caption out/in */
.caption-fade-out {
    opacity: 0;
}
.caption-fade-in {
    opacity: 1;
}

/* Medium of Modal Image */
.modal-medium {
    text-align: center;
    color: #dbdbdb;
    max-width: 70%;
    padding-top: 5px;
    padding-bottom: 10px;
    transition: opacity 0.5s ease-out;
}

/* Style for animating the current medium out/in */
.medium-fade-out {
    opacity: 0;
}
.medium-fade-in {
    opacity: 1;
}

/* The Close Button */
.close {
    position: absolute;
    top: 25px;
    right: 40px;
    color: #f1f1f1;
    font-size: 55px;
    font-weight: bold;
}

/* Slide Counter */
.numberText {
    position: absolute;
    top: 25px;
    left: 30px;
    color: #f1f1f1;
    font-size: 30px;
    font-weight: bold;
}

/* PrevSlide & NextSlide Buttons */
.prevSlide, .nextSlide {
    background-color: white;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 47%;
    width: 40px;
    height: 40px;
}

/* PrevSlide Button Class */
.prevSlide {
  left: 0;
  margin-left: 1.5%;
}
  
/* NextSlide Button Class */
.nextSlide {
    right: 0;
    margin-right: 1.5%;
}

/* Img Inside PrevSlide & NextSlide */
.prevSlide img, .nextSlide img {
    width: 40px;
    height: 40px;
}



/* Max-Width: 1500px */
@media (max-Width: 1500px) {
    /* Container Artwork Padding Change */
    .container-artwork {
        padding-top: 7%; /* From 4.5% */
        padding-bottom: 6%; /* From 5% */
    }

    /* Artwork Header1 Font Size Change */
    .artwork-header1 {
        font-size: 65px; /* From 75px */
    }

    /* Artwork Images Column-Width Change */
    .artwork-images {
        max-width: 80%; /* From 70% */
        column-width: 260px; /* From 300px */
    }

    /* PrevSlide Button Margin-Left Change */
    .prevSlide {
        margin-left: 1%; /* From 1.5% */
    }
    
    /* NextSlide Button Margin-Right Change */
    .nextSlide {
        margin-right: 1%; /* From 1.5% */
    }
}

/* Min-Width: 1024px */
@media (min-width: 1024px) {
    /* Animations for artwork images */
    .artwork-image {
        transition: transform 0.5s, box-shadow 0.5s;
    }
    .artwork-image:hover {
        transform: scale(1.025); /* Enlarge the image on hover */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25); /* Add shadow behind image for 3D effect*/
    }

    /* Modal close button hover and focus animation */
    .close {
        transition: color 0.3s;
    }
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* Modal next/prev button hover animation */
    .prevSlide, .nextSlide {
        transition: transform 0.5s;
    }
    .prevSlide:hover, .nextSlide:hover {
        transform: scale(1.25);
    }
}
  
/* Max-Width: 1024px */
@media (max-width: 1024px) {
    /* Container Artwork Top-Padding Change */
    .container-artwork {
        padding-top: 3.5%; /* From 3% */
    }

    /* Artwork Header1 Font Size Change */
    .artwork-header1 {
        font-size: 55px; /* From 65px */
    }

    /* Modal Content (image) */
    .modal-content {
        max-width: 87vw; /* From 90vw */
        max-height: 87vh; /* From 90vh */
    }

    /* Close Button Size Change */
    .close {
        font-size: 45px; /* From 55px */
    }

    /* Slide Counter Font Size Change */
    .numberText {
        font-size: 25px; /* From 30px */
    }

    /* PrevSlide & NextSlide Width & Height Change */
    .prevSlide, .nextSlide {
        width: 35px; /* From 40px */
        height: 35px; /* From 40px */
    }

    /* Img Size Change */
    .prevSlide img, .nextSlide img {
        width: 35px; /* From 40px */
        height: 35px; /* From 40px */
    }
}

/* Max-Width: 768px */
@media (max-width: 768px) {
    /* Container Artwork Top-Padding Change */
    .container-artwork {
        padding-top: 9.5%; /* From 3.5% */
    }

    /* Artwork Header1 Font Size Change */
    .artwork-header1 {
        font-size: 40px; /* From 55px */
    }

    /* Artwork Images Max-Width, Column-Width, & Top-Padding Change */
    .artwork-images {
        max-width: 85%; /* From 80% */
        column-width: 207px; /* From 260px */
        padding-top: 2%; /* From 1.5% */
    }

    /* Modal Content (image) */
    .modal-content {
        max-width: 85vw; /* From 87vw */
        max-height: 85vh /* From 87vh */
    }

    /* Close Button Size Change */
    .close {
        font-size: 40px; /* From 45px */
    }

    /* Slide Counter Font Size Change */
    .numberText {
        font-size: 22px; /* From 25px */
    }

    /* PrevSlide & NextSlide Width & Height Change */
    .prevSlide, .nextSlide {
        width: 30px; /* From 35px */
        height: 30px; /* From 35px */
    }

    /* Img Size Change */
    .prevSlide img, .nextSlide img {
        width: 30px; /* From 35px */
        height: 30px; /* From 35px */
    }
}

/* Max-Width: 480px */
@media (max-width: 480px) {
    /* Container Artwork Top-Padding Change */
    .container-artwork {
        padding-top: 14%; /* From 9.5% */
    }

    /* Artwork Images Max-Width & Top-Padding Change */
    .artwork-images {
        max-width: 82.5%; /* From 85% */
        padding-top: 2.5%; /* From 2% */
    }

    /* Artwork Header1 Font Size Change */
    .artwork-header1 {
        font-size: 30px; /* From 40px */
    }

    /* PrevSlide Button Margin-Left Change */
    .prevSlide {
        margin-left: 0.5%; /* From 1% */
    }

    /* NextSlide Button Margin-Right Change */
    .nextSlide {
        margin-right: 0.5%; /* From 1% */
    }

    /* PrevSlide & NextSlide Width, Height, & Position Change */
    .prevSlide, .nextSlide {
        width: 25px; /* From 30px */
        height: 25px; /* From 30px */
        top: 45%; /* From 47% */
    }

    /* Img Size Change */
    .prevSlide img, .nextSlide img {
        width: 25px; /* From 30px */
        height: 25px; /* From 30px */
    }
}

/* Max-Width: 300px */
@media (max-width: 300px) {
    /* Container Artwork Top-Padding Change */
    .container-artwork {
        padding-top: 15%; /* From 14% */
    }

    /* Artwork Header1 Font Size Change */
    .artwork-header1 {
        font-size: 25px; /* From 30px */
    }

    /* Modal Content Max-Width Change */
    .modal-content {
        max-width: 82vw; /* From 85vw */
    }
}
