.artwork {
    padding: 0em;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container-artwork {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 3%;
    padding-bottom: 5%;
    background-color: #A7C7E7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artwork-images {
    width: auto; /* Adjusted to manage the overall width of the image section */
    max-width: 70%;
    column-width: 300px; /* From 225px (CHANGE PER SCREEN SIZE?) */
    column-gap: 1em; /* MAY NOT NEED */
    display: block; /* Change to block display for column-width to work */
}

.artwork-img-container {
    margin-bottom: 1em;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    width: 100%; /* Reset the width to default to avoid overflow */
}

.artwork-image {
    width: 100%; /* Full width of the column */
    height: auto;
    display: block;

    border: 1px solid black; /* MAY REMOVE LATER!!!! */
}

.artwork-description {
    flex: 1; /* This will allow the text section to take up the remaining space */
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    padding-top: 2%; /* Adjust padding as needed */
    margin: 1% 1%; /* Add margin to the left and right */
}

.h1-artwork, .paragraph-artwork {
    margin-bottom: 1%; /* Add some bottom margin for spacing */
    text-align: center;
}

.h1-artwork {
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 75px;
}

.paragraph-artwork {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    width: 90%;
}






/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1030; /* Sit on top of everything else on the page */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
}

/* Modal Wrapper */
.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
}
  
/* Modal Content (image) */
.modal-content {
    width: auto;
    max-width: 90vw;
    height: auto;
    max-height: 90vh;
}

/* Caption of Modal Image */
#caption {
    text-align: center;
    color: #ccc;
    max-width: 70%;
    padding: 2.5%;
}

/* The Close Button */
.close {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}






/* Min-Width: 1024px */
@media (min-width: 1024px) {
    /* Animations for artwork images */
    .artwork-image {
        transition: transform 0.5s, opacity 1s;
    }
    
    .artwork-image:hover {
        transform: scale(1.05); /* Enlarge the image on hover */
        opacity: 0.7;
    }
}
  
/* Larger screen */
@media (max-width: 1024px) {
    .container-artwork {
        padding-top: 3.5%; /* From 3% */
    }

    .artwork-images {
        max-width: 80%;
    }

    .h1-artwork {
        font-size: 55px;
    }

    .paragraph-artwork {
        font-size: 16px;
    }
}

/* Tablet and smaller devices (<=768px) */
@media (max-width: 768px) {
    .container-artwork {
        padding-top: 6.5%; /* From 3.5% */
    }

    .h1-artwork {
        font-size: 40px;
    }

    .paragraph-artwork {
        font-size: 14px;
    }
}

/* Smartphone and smaller devices (<=480px) */
@media (max-width: 480px) {
    .container-artwork {
        padding-top: 11%; /* From 6.5% */
    }

    .h1-artwork {
        font-size: 30px;
    }

    .paragraph-artwork {
        font-size: 12px;
    }
}
