.c-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
    object-fit: contain;
  }
  
  .c {
    display: flex;
    transition: transform 0.75s ease-in-out;
  }
  
  .c-item {
    flex: 0 0 100%;
    position: relative;

    pointer-events: auto;
  }
  
  .c-item img {
    width: 100%;
    height: 100vh;

    pointer-events: auto;
  }
  
  .c-caption {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    padding: 10px;
    text-align: center;

    pointer-events: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 0;
  }
  
  .prev {
    left: 0;
    border-radius: 0;
  }
  
  .prev img, .next img {
    width: 40px;
    height: 40px;
    transition: transform 0.6s ease;
  }
  
  .prev img:hover, .next img:hover {
    transform: scale(1.4);
  }


  /* Tablet and smaller devices (<=768px) */
@media (max-width: 768px) {
  .prev img, .next img {
    width: 30px;
    height: 30px;
    transition: none;
  }

  .prev img:hover, .next img:hover {
    transform: none;
  }

  .c-caption {
    font-size: 18px;
  }
}

/* Smartphone and smaller devices (<=480px) */
@media (max-width: 480px) {
  .prev img, .next img {
    width: 20px;
    height: 20px;
    transition: none;
  }

  .prev img:hover, .next img:hover {
    transform: none;
  }

  .c-caption {
    font-size: 16px;
  }
}