/* Carousel Container Class */
.carousel-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    max-height: 100vh; /* Max height is full view height */
    object-fit: contain;
    background-color: rgb(218, 218, 218);
}

/* Carousel Class */
.carousel {
    display: flex;
    height: 100vh; /* MAY CHANGE LATER */
    transition: transform 1s ease-in-out; /* Transition effect for duration of slide change */
}

/* Carousel Item Class (Slides) */
.carousel-item {
    flex: 0 0 100%;
    position: relative;
}

/* Carousel Item Image Class */
.carousel-item img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    object-fit: contain;
}
  
/* Carousel Caption Class */
.carousel-caption {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
    font-size: 22px;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Prev & Next Button Classes */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 5px;
    margin-top: -22px;
    border-radius: 20px;
}

/* Prev Button Class */
.prev {
  left: 0;
  margin-left: 2.5%;
}
  
/* Next Button Class */
.next {
    right: 0;
    margin-right: 2.5%;
}
  
/* Prev & Next Button Image Classes */
.prev img, .next img {
    width: 40px;
    height: 40px;
}

/* Min-Width: 1024px */
@media (min-width: 1024px) {
  /* Animations for prev & next button images */
  .prev img, .next img {
    transition: transform 0.6s ease; /* Transition effect for scaling image */
  }

  /* Prev & Next Button Image Scaling */
  .prev img:hover, .next img:hover {
    transform: scale(1.35);
  }
}

/* Max-Width: 1024px */
@media (max-width: 1024px) {
  /* Carousel Caption Resizing */
  .carousel-caption {
    font-size: 19px; /* From 22px */
    bottom: 4%; /* From 35px */
  }

  /* Prev & Next Button Resizing */
  .prev img, .next img {
    width: 35px; /* From 40px */
    height: 35px; /* From 40px */
  }
}

/* Max-Width: 768px */
@media (max-width: 768px) {
  /* Carousel Caption Resizing */
  .carousel-caption {
    font-size: 18px; /* From 19px */
    bottom: 7%; /* From 4% */
  }

  /* Prev & Next Button Resizing */
  .prev img, .next img {
    width: 30px; /* From 35px */
    height: 30px; /* From 35px */
  }
}

/* Max-Width: 480px */
@media (max-width: 480px) {
  /* Carousel Caption Resizing */
  .carousel-caption {
    font-size: 16px; /* From 18px */
  }

  /* Prev & Next Button Resizing */
  .prev img, .next img {
    width: 23px; /* From 30px */
    height: 23px; /* From 30px */
  }
}