.contact {
    padding-top: 5%;
    font-family: Arial, sans-serif;
}

.h1-contact {
    padding: 0px;
    margin: 0px;
    font-size: 75px;
}

.container-contact {
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    padding: 3.5%;
    display: flex;
}

.left-column, .right-column {
    flex: 1; /* This makes both columns take up equal space, adjust as necessary */
    display: flex;
}

.left-column {
    justify-content: left;
    align-items: center;
}

.right-column {
    display: flex;
    flex-direction: column; /* Stack children vertically */

    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.img-contact {
    max-width: 70%;
    height: auto; /* Adjust as needed */
}

.header {
    font-size: 75px;
    padding: 0;
}

.contact-form {
    margin-top: 10%;
    margin-bottom: 7.5%;
    width: 80%;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

input, textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-indent: 1%;
}

input {
    height: auto;
    min-height: 50px;
}

textarea {
    height: auto;
    min-height: fit-content;
    max-height: 200%;
}

button {
    text-align: center;
    text-emphasis-color: black;
    color: white;
    background-color: green;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    width: 80%;
    height: 10% auto;
    border-radius: 8px;

    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: darkgreen;
}

button:active {
    background-color: lightgreen;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.5);
}

.submit-wrapper {
    position: relative;
    text-align: center; /* Center the button if needed */
}

.confirmationPopup {
    display: none; /* Initially hidden */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -125%;

    background-color: rgb(230, 0, 0); /* Default to error color, will be overridden by JS */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    z-index: 1;
    white-space: nowrap;
}

.allPopup {
    display: none; /* Initially hidden */
    position: absolute;
    left: 50%; /* Center horizontally in the .right-column */
    transform: translateX(-50%); /* Adjust horizontal positioning to truly center */
    bottom: 115%; /* Adjust this value based on your layout to move it above the name field */

    background-color: rgb(230, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    z-index: 1;
    white-space: nowrap;
}

.popup {
    display: none; /* Initially hidden */
    position: absolute;
    /* Position towards the right inside the input field */
    left: 75%;
    top: 15%;

    background-color: rgb(230, 0, 0);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    z-index: 1;
    white-space: nowrap;
}

/* Popup arrow */
.popup::after {
    content: "";
    position: absolute;
    /* Align arrow to the left side and center of the popup */
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent rgb(230, 0, 0) transparent transparent; /* Arrow points left */
}

/* Animation fade in */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Animation fade out */
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}


/* Larger screen */
@media (max-width: 1024px) {
    .header {
        font-size: 60px;
    }

    .label {
        font-size: 20px;
    }

    input, textarea {
        font-size: 15px;
    }

    input {
        min-height: 40px;
    }

    .confirmationPopup {
        font-size: 12px;
        border-radius: 5px;
        padding: 7px;
    }

    .allPopup {
        font-size: 12px;
        border-radius: 5px;
        padding: 7px;
    }

    .popup {
        left: 65%;
        font-size: 12px;
        border-radius: 5px;
        padding: 7px;

    }
    
    .popup::after {
        margin-top: -4px;
        border-width: 6px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
        
        transition: none;
    }
}

/* Tablet and smaller devices (<=768px) */
@media (max-width: 768px) {
    .header {
        font-size: 45px;
    }

    .label {
        font-size: 17px;
    }

    input, textarea {
        font-size: 12px;
    }

    input {
        min-height: 30px;
    }

    .confirmationPopup {
        font-size: 10px;
        border-radius: 5px;
        padding: 6px;
    }

    .allPopup {
        font-size: 10px;
        border-radius: 5px;
        padding: 6px;
    }

    .popup {
        left: 60%;
        font-size: 10px;
        border-radius: 5px;
        padding: 6px;

    }
    
    .popup::after {
        margin-top: -4px;
        border-width: 5px;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
        
        transition: none;
    }
}
  
/* Smartphone and smaller devices (<=480px) */
@media (max-width: 480px) {
    .header {
        font-size: 30px;
    }

    .label {
        font-size: 14px;
    }

    input, textarea {
        font-size: 10px;
    }

    input {
        min-height: 20px;
    }

    .confirmationPopup {
        font-size: 8px;
        border-radius: 5px;
        padding: 5px;
    }

    .allPopup {
        font-size: 8px;
        border-radius: 5px;
        padding: 5px;
    }

    .popup {
        left: 55%;
        font-size: 8px;
        border-radius: 5px;
        padding: 5px;

    }
    
    .popup::after {
        margin-top: -4px;
        border-width: 4px;
    }

    button {
        padding: 5px 10px;
        font-size: 10px;
        
        transition: none;
    }
}