.contact {
    padding-top: 5%;
    font-family: Arial, sans-serif;
}

.h1-contact {
    padding: 0px;
    margin: 0px;
    font-size: 75px;
}

.container-contact {
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
    padding: 3.5%;
    display: flex;
}

.left-column, .right-column {
    flex: 1; /* This makes both columns take up equal space, adjust as necessary */
    display: flex;
}

.left-column {
    justify-content: left;
    align-items: center;
}

.right-column {
    justify-content: center;
    align-items: center;
}

/* Adjust the .img-contact class as needed to fit the image within the left column */
.img-contact {
    max-width: 70%;
    height: auto; /* Adjust as needed */
}

.header {
    font-size: 75px;
}

.contact-form {
    margin-top: 10%;
    width: 80%;
    height: 80%;
}

.label {
    font-size: 25px;
}

input, textarea {
    height: 5%;
    width: 100%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

button {
    text-align: center;
    text-emphasis-color: black;
    color: white;
    background-color: green;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    width: 80%;
    height: 10%;
    border-radius: 8px;

    display: block; /* Add this line */
    margin: 0 auto; /* Add this line */
}

button:hover {
    background-color: darkgreen;
}

button:active {
    background-color: lightgreen;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.5);
}