/* Container Contact Class (contains left-column & right-column) */
.container-contact {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: row; /* Start with row */
}

/* Left Column Class (contains img-contact) */
.left-column {
    flex-basis: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Img Contact (inside left-column) */
.img-contact {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

/* Right Column Class (contains contact form) */
.right-column {
    display: flex;
    flex-basis: 55%;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
}

/* Contact Form (contains header-section, input-group, message-input-group, & submit-wrapper) */
.contact-form {
    width: 85%;
}

/* Header Section Class (contains contact-header1 & header-text) */
.header-section {
    padding-bottom: 4.5%;
}

/* Contact Header1 Class (inside header-section) */
.contact-header1 {
    font-size: 55px;
    text-align: left;
    margin: 0;
}

/* Header Text (inside header-section) */
.header-text {
    font-size: 25px;
    text-align: left;
}

/* Input Group Class (contains input, allpop & popup) */
.input-group {
    display: flex; /* For popup positioning */
    position: relative;
    align-items: center;
    margin-bottom: 2%;
}

/* Message Input Group Class (contains textarea & popup) */
.message-input-group {
    display: flex; /* For popup positioning */
    position: relative;
    align-items: center;
    padding-top: 2%;
}

/* Input & Textarea Classes (user input areas) */
input, textarea {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-size: 20px; /* Font size of input text */
    padding: 0 1.5% 0 1.5%;
}
/* Input Class */
input {
    min-height: 50px;
}
/* Textarea Class */
textarea {
    min-height: 75px;
    max-height: 300px; /* Text-box height limit */
    resize: vertical; /* Only resizable vertically */
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

/* Submit Wrapper Class (contains button & confirmationPopup) */
.submit-wrapper {
    position: relative;
    text-align: center; /* Center button */
    margin-top: 2%;
}

/* Button Class */
button {
    text-align: center;
    color: white;
    background-color: #1E96C8;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 80%;
    height: auto;
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    transition: background-color 0.25s ease-in; /* Updated to include background-image transition */
    opacity: 1;
    justify-content: center;
}

/* Button Waiting Class (when button is processing request) */
.button-waiting {
    background-color: #89CFF0; /* Lighter blue */
    background-image: none; /* Remove gradient when in waiting state */
    color: black;
}

/*** ALL POPUP CLASSES AND STYLES ***/
/* AllPopup Class (inside input group, above name input) */
.allPopup {
    display: none; /* Initially hidden */
    position: absolute;
    left: 50%; /* Center horizontally in the .right-column */
    transform: translateX(-50%); /* Adjust horizontal positioning to truly center */
    bottom: 115%; /* Adjust this value based on your layout to move it above the name field */
    background-color: rgb(230, 0, 0);
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    z-index: 1;
    white-space: nowrap;
}

/* ConfirmationPopup Class (inside submit wrapper, underneath submit button*/
.confirmationPopup {
    display: none; /* Initially hidden */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -110%;
    background-color: rgb(230, 0, 0); /* Default to error color, will be overridden by JavaScript */
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    z-index: 1;
    white-space: nowrap;
}

/* Popop Class (inside input/message input group, within each input area: name, email, & message) */
.popup {
    display: none; /* Initially hidden */
    position: absolute;
    /* Position towards the right and centered vertically inside the input field */
    left: 75%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(230, 0, 0);
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    z-index: 1;
    white-space: nowrap;
}

/* Popup (arrow) */
.popup::after {
    content: "";
    position: absolute;
    /* Align arrow to the left side and center of the popup */
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent rgb(230, 0, 0) transparent transparent; /* Arrow points left */
}

/* Popup Animation Fade In/Fade Out*/
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

/* Max-Width: 1500px */
@media (max-width: 1500px) {
    /* Contact Header1 Font Size Change */
    .contact-header1 {
        font-size: 50px; /* From 55px */
    }

    /* Header Text Font Size Change */
    .header-text {
        font-size: 23px; /* From 25px */
    }
}

/* Min-Width: 1024px */
@media (min-width: 1024px) {
    /* Button focus/active animation only visibile on larger screens */
    .button:focus, button:active {
        background-color: #89CFF0;
        background-image: none;
    }
    button:active {
        background-color: #89CFF0;
        background-image: none;
    }
}

/* Max-Width: 1024px */
@media (max-width: 1024px) {
    /* Contact Header1 Font Size Change */
    .contact-header1 {
        font-size: 42px; /* From 50px */
    }

    /* Header Text Font Size Change */
    .header-text {
        font-size: 19px; /* From 23px */
    }

    /* Input & TextArea Font Size Change */
    input, textarea {
        font-size: 15px; /* From 20px */
    }

    /* Input Min-Height Change */
    input {
        min-height: 40px; /* From 50px */
    }

    /* TextArea Min & Max Height Change */
    textarea {
        min-height: 60px; /* From 75px */
        max-height: 235px; /* From 300px */
    }

    /* AllPopup Font Size, Border-Radius, & Padding Change */
    .allPopup {
        font-size: 12px; /* From 15px */
        border-radius: 5px; /* From 6px */
        padding: 7px; /* From 8px */
    }

    /* ConfirmationPopup Font Size, Border-Radius, & Padding Change */
    .confirmationPopup {
        font-size: 12px; /* From 15px */
        border-radius: 5px; /* From 6px */
        padding: 7px; /* From 8px */
    }

    /* Popup Position, Font Size, Border-Radius, & Padding Change */
    .popup {
        left: 65%; /* From 75% */
        font-size: 12px; /* From 15px */
        border-radius: 5px; /* From 6px */
        padding: 7px; /* From 8px */

    }
    
    /* Popup (arrow) Top-Margin & Border-Width Change */
    .popup::after {
        margin-top: -4px; /* From -5px */
        border-width: 6px; /* From 7px */
    }

    /* Button Resizing & Font Size Change */
    button {
        padding: 8px 16px; /* From 10px 20px */
        font-size: 14px; /* From 16px */
    }
}

/* Max-Width: 768px */
@media (max-width: 768px) {
    /* Container Contact Padding Addition */
    .container-contact {
        padding: 2.5% 0 2.5% 0;
    }

    /* Header Section Bottom-Padding Change */
    .header-section {
        padding-bottom: 6%; /* From 4.5% */
    }

    /* Contact Header1 Font Size Change */
    .contact-header1 {
        font-size: 32px; /* From 42px */
    }

    /* Header Text Font Size Change */
    .header-text {
        font-size: 15px; /* From 19px */
    }

    /* Input & TextArea Font Size Change */
    input, textarea {
        font-size: 12px; /* From 15px */
    }

    /* Input Min-Height Change */
    input {
        min-height: 30px; /* From 40px */
    }

    /* TextArea Min & Max Height Change */
    textarea {
        min-height: 50px; /* From 60px */
        max-height: 190px; /* From 235px */
    }

    /* AllPopup Font Size & Padding Change */
    .allPopup {
        font-size: 10px; /* From 12px */
        padding: 6px; /* From 7px */
    }

    /* ConfirmationPopup Font Size & Padding Change */
    .confirmationPopup {
        font-size: 10px; /* From 12px */
        padding: 6px; /* From 7px */
    }

    /* Popup Position, Font Size, Border-Radius, & Padding Change */
    .popup {
        left: 60%; /* From 65% */
        font-size: 10px; /* From 12px */
        padding: 6px; /* From 7px */
    }
    
    /* Popup (arrow) Border-Width Change */
    .popup::after {
        border-width: 5px; /* From 6px */
    }

    /* Button Resizing & Font Size Change */
    button {
        padding: 6px 12px; /* From 8px 16px */
        font-size: 12px; /* From 14px */
    }
}
  
/* Max-Width: 480px */
@media (max-width: 480px) {
    /* Container Contact Flex-Direction & Padding Change */
    .container-contact {
        flex-direction: column; /* From row */
        padding: 2.5% 0 3.5% 0; /* From 2.5% 0 2.5% 0 */
    }

    /* Left Column Position Change */
    .left-column {
        justify-content: center; /* From left */
        padding-bottom: 1.5%;
    }

    /* Img Contact Width Change */
    .img-contact {
        width: 90%;
    }

    /* Right Column Bottom-Padding Addition */
    .right-column {
        padding-bottom: 6.25%;
    }

    /* Header Section Bottom-Padding Change */
    .header-section {
        padding-bottom: 4%; /* From 6% */
    }

    /* Contact Header1 Font Size Change */
    .contact-header1 {
        font-size: 28px; /* From 32px */
    }

    /* Header Text Font Size Change */
    .header-text {
        font-size: 14px; /* From 15px */
    }

    /* Input & TextArea Font Size Change */
    input, textarea {
        font-size: 11px; /* From 12px */
    }

    /* Input Min-Height Change */
    input {
        min-height: 25px; /* From 30px */
    }

    /* TextArea Min & Max Height Change */
    textarea {
        min-height: 45px; /* From 50px */
        max-height: 175px; /* From 190px */
    }

    /* AllPopup Font Size & Padding Change */
    .allPopup {
        font-size: 9px; /* From 10px */
        padding: 5px; /* From 6px */
    }

    /* ConfirmationPopup Font Size & Padding Change */
    .confirmationPopup {
        font-size: 9px; /* From 10px */
        padding: 5px; /* From 6px */
    }

    /* Popup Position, Font Size, Border-Radius, & Padding Change */
    .popup {
        left: 55%; /* From 60% */
        font-size: 9px; /* From 10px */
        padding: 5px; /* From 6px */
    }
    
    /* Popup (arrow) Border-Width Change */
    .popup::after {
        border-width: 4px; /* From 5px */
    }

    /* Button Resizing & Font Size Change */
    button {
        padding: 5px 10px; /* From 6px 12px */
        font-size: 10px; /* From 12px */
    }
}

/* Max-Width: 300px */
@media (max-width: 300px) {
    /* Right Column Bottom-Padding Addition */
    .right-column {
        padding-bottom: 8%; /* From 6.25% */
    }

    /* Header Section Bottom-Padding Change */
    .header-section {
        padding-bottom: 5%; /* From 4% */
    }

    /* Contact Header1 Font Size Change */
    .contact-header1 {
        font-size: 24px; /* From 28px */
    }

    /* Header Text Font Size Change */
    .header-text {
        font-size: 12px; /* From 14px */
    }

    /* AllPopup Font Size Change */
    .allPopup {
        font-size: 8px; /* From 9px */
    }

    /* ConfirmationPopup Font Size Change */
    .confirmationPopup {
        font-size: 8px; /* From 9px */
    }

    /* Popup Font Size Change */
    .popup {
        font-size: 8px; /* From 9px */
    }
}