.navbar {
    position: fixed;
    top: 0;
    z-index: 1020;
    display: flex;
    align-items: center;
    padding: 0.5%;
    width: 99%;
    justify-content: space-between;
    transition: background-color 0.8s ease; /* Add transition for background-color */
}

.navbar-brand {
    color: #000000;
    font-size: 40px;
    font-family: 'Amarante';
    margin-left: 0.5%;
    font-style: italic;
    text-decoration-line: none;
}

.navbar-toggler {
    color: black;
    cursor: pointer;
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    font-size: 24px; /* Adjust the font size as needed */

    display: flex; /* Make it a flex container */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */

    border: 2px solid #000000; /* Heavier border: width, style, color */
    border-radius: 10px; /* Make the corners slightly rounded */

    transition: background-color 0.4s ease;
}

.navbar-toggler:hover, .navbar-toggler:focus {
    background-color: white;
    outline: none;
}

.toggler-img {
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease;
}

.transformed-toggler-img {
    transform: rotate(180deg) scale(1.25);
}

.nav-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Align the items vertically */
    margin-right: 1.5%;

    transform: translateX(50%) scale(0); /* Initially, move the nav-items to the right */
    transition: transform 0.6s ease, opacity 0.6s ease,  visibility 0s linear 0.35s; /* Transition effect for sliding and fading in */
    visibility: hidden; /* Start hidden */
    opacity: 0;
}

.nav-items-visible {
    transform: translateX(0) scale(1); /* Move nav-items back to original position when visible */
    transition: transform 0.6s ease, opacity 0.6s ease;
    visibility: visible;
    opacity: 1;
}

.nav-group {
    display: flex;
    margin-right: 0.5%;

    justify-content: flex-end; /* Aligns children (nav-items and toggler) to the right */
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #000000;
    font-size: 20px;
    font-family: 'Catamaran';
    text-decoration: none;
    transition: font-size 0.4s ease;
    white-space: nowrap; 
}

.nav-link:hover {
    text-decoration: underline;
    font-size: 23px;
}

/* Larger screen */
@media (min-width: 1024px) {
    .navbar-brand {
        transition: font-size 0.7s ease;
    }
    
    .navbar-brand:hover {
        text-decoration-line: underline;
        font-size: 43px;
    }
}

/* Tablet and smaller devices (<=768px) */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 25px; /* Smaller font size for navbar brand */
    }

    .nav-link {
        font-size: 15px; /* Smaller font size for navigation links */
    }

    .nav-link:hover {
        font-size: 17px;
    }

    .nav-items {
        margin-right: 11%;
    }
  
    .nav-item {
        margin: 0 2.5%; /* Reduce margin between nav items for more space */
    }
  
    .navbar-toggler {
        height: 40px;
        width: 40px;
        min-height: 40px;
        min-width: 40px;
    }

    .toggler-img {
        height: 25px;
        width: 25px;
    }
  }
  
  /* Smartphone and smaller devices (<=480px) */
  @media (max-width: 480px) {
    .navbar-brand {
        font-size: 19px; /* Even smaller font size for navbar brand */
    }
  
    .nav-link {
        font-size: 13px; /* Further reduce font size for navigation links */
    }

    .nav-link:hover {
        font-size: 15px;
    }

    .nav-items {
        margin-right: 6%;
    }

    .nav-item {
        margin: 0 1%; /* Further reduce margin between nav items */
    }
  
    /* Adjust navbar padding or layout as needed for very small screens */
    .navbar {
        padding: 0.5rem 1%; /* Adjust the padding to ensure everything fits */
    }
  
    /* Consider adjusting the navbar-toggler size if necessary */
    .navbar-toggler {
        height: 30px;
        width: 30px;
        min-height: 30px; /* Slightly smaller */
        min-width: 30px; /* Slightly smaller */
    }

    .toggler-img {
        height: 20px;
        width: 20px;
    }
  }