.profile {
    font-family: Arial, sans-serif;
    background-color: #CBC3E3;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--background-image-1);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.container-profile {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-content {
    background-color: #CBC3E3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 84%;
    margin: 1.5% auto;
    padding: 1%;
    border-radius: 5px;
}

.about-me, .artist-statement {
    font-size: 16px;
    line-height: 1.4;
    margin-left: 2%;
    margin-right: 2%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.about-me {
    flex-basis: 20%;
}

.artist-statement {
    flex-basis: 30%;
}

.about-header1 {
    margin: 2.5% 0;
    text-align: center;
    font-size: 2.2rem;
}

.about-description {
    text-align: center;
    padding: 0;
    margin: 0;
}

.portrait-container {
    display: flex; /* Use flex to align the child image */
    justify-content: center; /* Center the child horizontally */
    align-items: center; /* Center the child vertically */
    flex-basis: 45%; /* Adjusted flex basis */
}

.portrait-image {
    width: auto; /* Adjust width to maintain aspect ratio */
    height: auto; /* Adjust height to maintain aspect ratio */
    max-width: 90%; /* Ensure image does not exceed its container */
    max-height: 90%; /* Ensure image does not exceed its container */
}

.artist-statement-header2 {
    width: auto;
}

.artist-statement-description {
    width: auto;
}



/* Media queries */
@media (max-width: 1024px) {
    .profile {
        background-image: var(--background-image-2);
    }

    .profile-content {
        flex-direction: column; /* Stack earlier if necessary */
        width: 90%;
    }


}

@media (max-width: 768px) {
    .profile {
        height: auto; /* Allow the height to grow as needed */
        background-image: none;
        background-color: #CBC3E3;
    }


    
    .container-profile {
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center; /* Center the contents on smaller screens */
    }

    .profile-content {
        flex-direction: column; /* Stack elements vertically on mobile */
        width: 65%; /* Allow a little margin on the sides */
        margin: 1.5% auto; /* Adjust margin to keep the content centered */
        margin-left: auto;
        margin-right: auto;
    }


}

@media (max-width: 480px) {
    .profile {
        background-image: none;
        background-color: #CBC3E3;
    }


    .container-profile {
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        align-items: center;
    }

    .profile-content {
        width: 80%;
    }
}